<footer>
    <div class="container">
        <div class="left section">
            <h2>Sobre nosotros</h2>
            <div class="content">
                <p>Conexão Brasil es una página que brinda servicios de traducción, interpretación, cursos de portugués y contenidos relacionados a la cultura y el idioma.</p>
            <div class="social">
                <a href="#"><span class="fab fa-facebook-f"></span></a>
                <a href="https://www.instagram.com/jamiledev/"><span class="fab fa-instagram"></span></a>
                <a href="#"><span class="fab fa-youtube"></span></a>
            </div>
            </div>
        </div>

        <div class="center section">
            <h2>Contacto</h2>
            <div class="content">
                <div class="place">
                    <span class="fas fa-map-marker-alt"></span>
                    <span class="text"> Buenos Aires, Argentina</span>
                </div>
                <div class="phone">
                    <span class="fas fa-phone-alt"></span>
                    <span class="text"> +54 11 00000000</span>
                </div>
                <div class="email">
                    <span class="fas fa-envelope"></span>
                    <span class="text"> jamilecadias@gmail.com</span>
                </div>
            </div>
        </div>

        <div class="right section">
            <h2>Subscríbete</h2>
            <div class="content">
                <form action="#">
                    <div class="email">
                        <div class="text">Email*</div>
                    </div>
                    <input type="email" required>
                    <div class="btn">
                        <button type="submit">SUBSCRíBETE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <center>
            <div><span>Copyright 2022 © Todos los derechos reservados | Desarrollado por JCD</a></span></div>
        </center>
    </div> 
</footer>