<header class="header">
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <a href="#" class="enlace">
        <img src="images/conex.png" alt="" class="logo">
    </a>
    <ul>
        <li><a class="active" href="/">Inicio</a></li>
        <li><a href="#">Nosotros</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Blog</a></li>
        <% if (locals.isLogged) { %> 
          <a href="/users/profile">HOLA <%= locals.userLogged.name %>!</a>
          <%} else { %> 
        <li><a href="login">Login</a></li>
        <li><a href="register">Registro</a></li>

         <% } %>                  
    </ul>
</nav>
  </header>