<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bienvenidos</title>
        <link rel="icon" href="images/conexa.png">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/home.css">
        <link rel="stylesheet" href="static/ass/styles">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/2da8e91210.js" crossorigin="anonymous"></script>
    </head>
    <body>
      <%-include('./partials/header.ejs') %>
      <main>
            <div class="banner-text">
                <h2>CONEXÃO BRASIL</h2>
                <h1>FLUENCIA <span>EN UN CLICK</span></h1>
                <a href="/maintenance" class="button1">SABER MÁS</a>
                <a href="/maintenance" class="button2">RESERVAR</a>
            </div>
      </main>
            <%-include('./partials/footer.ejs') %>
    </body>
</html>