* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
   background: url(study.jpeg);
   background-size: cover;
   background-attachment: fixed;
  /*  width: 100vw;
   height: 100vh; */
}


/* BANNER TEXT*/

.banner-text {
  /* padding: 30px; */
  margin: 100px;
  text-align: center;
  color: #fff;
  margin-top: 300px;
  margin-bottom: 300px;


}

.banner-text h1 {
  font-size: 50px;
  margin-bottom: 30px;
}

.banner-text span{
  color: #1a2537;

}

.banner-text h2 {
  font-size: 16px;
  font-weight: 600;
}

.button1 {
  margin-right: 40px;
  padding: 10px 30px;
  background-color: #1a2537;
  color: #fff;
  border-radius: 5px;
}

.button1:hover {
  background-color: cadetblue;
  color: #1a2537;
  transition: .5s;
}

.button2 {
  margin-right: 40px;
  padding: 10px 30px;
  background-color: cadetblue;
  color: #fff;
  border-radius: 5px;
}

.button2:hover {
  background-color: #1a2537;
  color: cadetblue;
  transition: .5s;
}

/* RESPONSIVE FOR DESKTOP*/

@media screen and (min-width: 768){
  
  .banner-text h1 {
      font-size: 70px;
      margin-bottom: 30px;
  }

  .banner-text h2 {
      font-size: 20px;
  }
}