* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
   background: url(study.jpeg);
   background-size: cover;
   background-attachment: fixed;
  /*  width: 100vw;
   height: 100vh; */
}

nav{
background: #1a2537;
height: 80px;
width: 100%;
}
.enlace{
position: absolute;
padding: 20px 50px;
}
.logo{
height: 40px;
}

nav ul{
float: right;
margin-right: 20px;
}
nav ul li{
display: inline-block;
line-height: 80px;
margin: 0 5px;
}
nav ul li a{
color: #fff;
font-size: 18px;
padding: 7px 13px;
border-radius: 3px;
text-transform: uppercase;
}
li a.active, li a:hover{
background: cadetblue;
transition: .5s;
}
.checkbtn{
font-size: 30px;
color: #fff;
float: right;
line-height: 80px;
margin-right: 40px;
cursor: pointer;
display: none;
}
#check{
display: none;
}
section{
background: url(fondo.jpg) no-repeat;
background-size: cover;
background-position: center center;
height: calc(100vh - 80px);
}

@media (max-width: 952px){
.enlace{
    padding-left: 20px;
}
nav ul li a{
    font-size: 16px;
}
}

@media (max-width: 858px){
.checkbtn{
    display: block;
}
ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
}
nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
}
nav ul li a{
    font-size: 20px;
}
li a:hover, li a.active{
    background: none;
    color: red;
}
#check:checked ~ ul{
    left:0;
}
}


/* MOBILE */
/* @media (max-width: 768px) {
  body {
    padding-top: 70px;
  }

} */

/* BANNER TEXT*/

.banner-text {
  /* padding: 30px; */
  margin: 100px;
  text-align: center;
  color: #fff;
}

.banner-text h1 {
  font-size: 50px;
  margin-bottom: 30px;
}

.banner-text span{
  color: #1a2537;

}

.banner-text h2 {
  font-size: 16px;
  font-weight: 600;
}

.button1 {
  margin-right: 40px;
  padding: 10px 30px;
  background-color: #1a2537;
  color: #fff;
  border-radius: 5px;
}

.button1:hover {
  background-color: cadetblue;
  color: #1a2537;
  transition: .5s;
}

.button2 {
  margin-right: 40px;
  padding: 10px 30px;
  background-color: cadetblue;
  color: #fff;
  border-radius: 5px;
}

.button2:hover {
  background-color: #1a2537;
  color: cadetblue;
  transition: .5s;
}

/* RESPONSIVE FOR DESKTOP*/

@media screen and (min-width: 768){
  
  .banner-text h1 {
      font-size: 70px;
      margin-bottom: 30px;
  }

  .banner-text h2 {
      font-size: 20px;
  }
}



/*FOOTER*/

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #1a2537;
}

.container{
  display: flex;
  padding: 1rem;
}

.container .section{
  flex-basis: 50%;
  padding: 0 20px;
}

.section h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}

.section .content{
  margin:20px 0 0 0;
  position: relative;
  color: #fff;
}

.section .content::before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
}

.section .content::after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background-color: cadetblue;
  top: -10px;
}

.left .content .social{
  margin: 20px 0 0 0;
}

.left .content .social a{
  padding: 0 2px;
}

.left .content .social a span{
  height: 40px;
  width: 40px;
  background: transparent;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 50px;
  transition: 0.4s;
  border:1px solid #656565;
  color: cadetblue;
}


.left .content .social a span:hover{
  background: cadetblue;
}

.center .content .fas{
  font-size: 1.1rem;
  background: transparent;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50px;
  transition: 0.3s;
  cursor: pointer;
  border:1px solid #656565;
  color: cadetblue;
}

.center .content .fas:hover{
  background: cadetblue;
  border:1px solid cadetblue;
}

.center .content .text{
  font-size: 1.0.6rem;
  font-weight: 500;
  padding-left: 10px;
  color: #fff;
}

.center .content .phone{
  margin: 15px 0;
}

.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}

.right form input{
  width: 100%;
  font-size: 1.0625rem;
  background: transparent;
  border: 1px solid #656565;
}

.right form input{
  height: 35px;
}

.right form .btn{
  margin-top: 10px;
}

.right form .btn button{
  height: 40px;
  width: 100%;
  border:none;
  outline: none;
  background: cadetblue;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  color: #fff;
}


.right form .btn button:hover{
  background: #000;
}

.footer-bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}

.footer-bottom center span{
  color: #656565;
}

.footer-bottom center a{
  text-decoration: none;
}

.footer-bottom center a:hover{
  text-decoration: underline;
}

@media screen and (max-width:700px){
  footer{
      position: relative;
      bottom: 0px;
  }

  .left .content{
      padding-right:0px;
      padding-bottom: 30px;
  }

  .container{
      flex-wrap: wrap;
      flex-direction: column;
      padding:0.5rem;
  }

  .container .section{
      margin:5px 0;
  }
}
